{% extends 'blog/basic.html'%}
{% block pagetitle %}
    <title>About me</title>
{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    {% load staticfiles %}
    <header class="intro-header" style="background-image: url('{% static 'img/about-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">{{ introduction.job_title }} at {{ introduction.job_company }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
                <p>{{ introduction.self_introduction }}</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}
