{% extends 'blog/basic.html' %}<!DOCTYPE html>
{% load staticfiles %}
{% block pagetitle %}
    <title>{{ post.title }}</title>
{% endblock %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ post.get_static_background_picture_url }}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }} </h2>
                        <span class="meta">Posted by <a href={% url 'blog.views.about' %}>He Shi</a> on {{ post.posted }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% load markdown_deux_tags %}
                    {{ post.body | markdown }}
                </div>
            </div>
        </div>
    </article>

    <hr>
    {% endblock %}
