{% extends 'blog/basic.html' %}
{% block pagetitle %}
    <title>Thanks</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{% static 'img/contact-bg.jpg' %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Thanks for Contacting Me</h1>
                        <hr class="small">
                        <span class="subheading">I will answer ASAP </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}